<div class="container">
    <div class="row" ng-controller="headerCtrl">
        <script id="template/popover/popover.html" type="text/ng-template">
            <div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
                <div class="arrow"></div>

                <div class="popover-inner">
                    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
                    <div class="popover-content">
                        <p>Phone: ###&#8209###&#8209####</p>
                        <p>Email: sales@pressure&#8209perfect.com</p>
                    </div>
                </div>
            </div>
        </script>
        <div class="header-icon pull-right">
            <a href="/contact">
                <i class="fa fa-envelope fa-5x" tooltip="Click to send us a message" tooltip-placement="bottom"></i>
            </a>
        </div>
        <div class="header-icon pull-right">
            <a href="/about">
                <i class="fa fa-question-circle fa-5x" tooltip="Click to learn more about Pressure Perfect"
                    tooltip-placement="bottom"></i>
                </a>
        </div>

        <div class="header-icon pull-right">
            <i class="fa fa-phone fa-5x" popover="{{ contactPopover }}"
                popover-title="{{ contactPopoverTitle }}"
                popover-trigger="mouseenter" popover-placement="bottom"></i>
        </div>
    </div>
</div>