/* Testing */

/*Global Styles*/
body{
    font-family: 'Philosopher', sans-serif; /* google font import on index.html, currently testing */
    font-weight: normal;
    color: #999;
	background-color: #666;	
}
*:focus {outline: 0;} 						/* Globally remove chrome's outline on focus for various elements*/
a{
	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s; 	/* All links will smooth transition between changed attributes for 0.1s */
	font-size: 16px;						/* link font size default to 16px site wide */
}

a:link {color:#555;text-decoration:none;}  	/* unvisited link */
a:visited {color:#555;text-decoration:none;}	/* visited link */
a:hover {color:#777;text-decoration:none;} 	/* mouse over link */
a:active {color:#777;text-decoration:none;}	/* selected link */

.footer-bg{ 								/* 100% footer width background color to match header style */
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: rgba(221, 238, 7, 1.0);
}
.header-bg-lime{	/* index.html class for the header container */		 
	width: 100%;
	border-bottom: none;
	-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	background: linear-gradient(rgba(221, 238, 7, 1.0) 50%, rgba(150, 166, 5, 1.0) 175%);
}
.header-bg-blue{ 	/* index.html class for the header container */	
	width: 100%;
	border-bottom: none;
	-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	background: linear-gradient(rgba(20, 180, 247, 1.0) 50%, rgba(14, 141, 226, 1.0) 200%);
}
/* bootstrap overrides misc*/
.navbar-brand{
	font-size: 26px;
	font-weight: bold;
}
/* bootstrap overrides for centering the navbar */
.navbar{margin-bottom:0px;}
.navbar-fixed-top{position:relative;}
/* navbar */
.navbar-lime{
	background: linear-gradient(rgba(221, 238, 7, 1.0) 50%, rgba(150, 166, 5, 1.0) 175%);
	border-bottom: none;
}
.navbar-blue{
	background: linear-gradient(rgba(20, 180, 247, 1.0) 50%, rgba(14, 141, 226, 1.0) 200%);
	border-bottom: none;
}
.navbar-lime a:link,
.navbar-lime a:visited{
	color:#555;	
}
.navbar-lime ul>li>a:hover,
.navbar-lime ul>li>a:active{
	color:#444;
	background-color: rgba(230, 255, 0, 1.0);
	-webkit-box-shadow: 3px 0px 6px -2px rgba(0, 0, 0, 0.2) inset, -3px 0px 6px -2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 3px 0px 6px -2px rgba(0, 0, 0, 0.2) inset, -3px 0px 6px -2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 3px 0px 6px -2px rgba(0, 0, 0, 0.2) inset, -3px 0px 6px -2px rgba(0, 0, 0, 0.2) inset;
}
.navbar-blue a:link,
.navbar-blue a:visited{
	color: #a9e0f7;
}
.navbar-blue ul>li>a:hover,
.navbar-blue ul>li>a:active{
	color: #fff;
	background: linear-gradient(rgba(20, 180, 247, 0.5) 50%, rgba(14, 141, 226, 0.5) 200%);	
}
.navbar-lime .navbar-header > a:link,
.navbar-lime .navbar-header > a:visited,
.navbar-lime .navbar-header > a:active{
	color: #555;
}
.navbar-lime .navbar-header > a:hover{
	color: #444;
	-webkit-box-shadow: 3px 0px 6px -2px rgba(0, 0, 0, 0.3) inset, -3px 0px 6px -2px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 3px 0px 6px -2px rgba(0, 0, 0, 0.3) inset, -3px 0px 6px -2px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 3px 0px 6px -2px rgba(0, 0, 0, 0.3) inset, -3px 0px 6px -2px rgba(0, 0, 0, 0.3) inset;
	background-color: rgba(230, 255, 0, 1.0);
}
.navbar-blue .navbar-header > a:link,
.navbar-blue .navbar-header > a:visited,
.navbar-blue .navbar-header > a:active{
	color: #a9e0f7;
}
.navbar-blue .navbar-header > a:hover{
	color: #fff;
}
/* img */
img{
	border: none;
	outline: 0;
}
img.quote-left{
width:44px;
height:40px;
background:url(/static/img/img-punctuation.png) 0 0;
}

img.quote-right{
width:44px;
height:40px;
background:url(/static/img/img-punctuation.png) 44px 0;
}

img.tilde{
width:68px;
height: 26px;
background:url(/static/img/img-punctuation.png) 0 -40px;
}